.notes-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

margin-top:30px;

}

.note-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

}

.note-card i{

font-size:60px;

color:#2563eb;

margin-bottom:15px;

}

.download-btn{

display:inline-block;

margin-top:20px;

padding:10px 25px;

background:#16a34a;

color:white;

border-radius:10px;

text-decoration:none;

}