<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}BizBrain AI{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}">
          <link rel="stylesheet"
href="{{ url_for('static', filename='css/notes.css') }}">
<link rel="stylesheet"
href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/ai.css') }}">
</head>

<body>

{% block content %}

{% endblock %}

</body>
</html>